root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[meson.build]
indent_size = 4
indent_style = space

[*.{c,h}]
indent_size = 8
indent_style = tab
